html, body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    margin: 1em;
    padding: 1em;
    border-bottom: 2px black solid;
    align-items: center;
    justify-content: start;
    gap: 2em;
}

#seed{
    border: none;
    width: 100px;
    height: 50px;
}

#themes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-block{
    width: 100%;
    height: 80vh;
}
.herText{
    margin-top: 4px;
}

